<%- include('partials/header.ejs') -%>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="Navbar">
            <ul class="navbar-nav mr-auto">
                    <li class="nav-item  ml-md-3"><a class="nav-link" href="/"><span class="fa fa-home fa-lg"></span> Home</a></li>
                    <li class="nav-item  ml-md-3"><a class="nav-link" href="/cars"><span class="fa fa-car fa-lg"></span> Cars</a></li>
                    <li class="nav-item  ml-md-3"><a class="nav-link" href="/customer"><span class="fa fa-id-card fa-lg"></span> Customer</a></li>
                    <li class="nav-item  ml-md-3 active"><a class="nav-link" href="/employee"><span class="fa fa-address-card fa-lg"></span> Employee</a></li>
            </ul>
        </div>
    </nav>
    <div class="cont">
            <div class="row" >
                <% empdet.forEach(function(ele){ %>
                    <div class="col-12 col-md-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12 col-md-3 offset-md-1">
                                    <img src="/images/avatar.png" class="card-img-top c-image" alt="Customer">
                                </div>
                                <div class=" col-12 col-md-8">
                                    <ul class="list-unstyled">
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Name:</dl>
                                            <dr class="col-6"><%= ele.NAME %></dr>
                                        </li>
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Phone:</dl>
                                            <dr class="col-6"><%= ele.PHONE %></dr>
                                        <li>
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Email:</dl>
                                            <dr class="col-6"><%= ele.EMAIL %></dr>
                                        <li>
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Address:</dl>
                                            <dr class="col-6"><%= ele.ADDRESS %></dr>
                                        <li> 
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Position:</dl>
                                            <dr class="col-6"><%= ele.POSITION %></dr>
                                        <li>
                                        <li class="col-12 d-flex">
                                            <dl class="col-6">Salary:</dl>
                                            <dr class="col-6"><%= ele.SALARY %></dr>
                                        <li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
    </div>
<%- include('partials/footer.ejs') -%>